---
Language: Cpp
BasedOnStyle: Google
Standard: c++20
ColumnLimit: 80
IndentWidth: 4
AccessModifierOffset: -2
NamespaceIndentation: None
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: Empty
BinPackArguments: true
BinPackParameters: true
BreakBeforeBraces: Attach
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left
SpaceBeforeParens: ControlStatements
SortIncludes: CaseSensitive
IncludeBlocks: Preserve
FixNamespaceComments: true
...
